/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

 .MMM-BMW-DS .header {
    color: yellow;                 /* Header color. */
  }
  .MMM-BMW-DS .image {             /* icon size */
     width: 1em;
     height: 1em;
  }
  
  .MMM-BMW-DS .current {
    color: #FFFFFF;               /* Current text forecast color. Default is white. */
  /*  font-size: .6em; */
  }
  
  .MMM-BMW-DS .summary {
    color: #FFFFFF;               /* General summary text forecast color. Default is white. */
  /*  font-size: .6em; */
  /*  display: none;                /* uncomment to hide */
  }
  
  .MMM-BMW-DS .daily {
    color: #FFFFFF;               /* Days of the week and hi/lo temp color. Default is white. */
  /*  font-size: .6em; */
  }